:host{
    border-radius: 16px;
    display: block;
}
.contianer{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 15px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: inherit;
    overflow: hidden;
}
.settings-button{
    position: absolute;
    top: 0px;
    right: 20px;
}
.label{
    margin-top: 0px;
    font-size: 25px;
}
